projects/*
!projects/.keep
!projects/example_1
!projects/example_2
projects/example*/**/*.png

# Junk
.byebug_history
.DS_Store

# Upscaler Stuff
README_macos.md
input.jpg
input2.jpg
models/
onepiece_demo.mp4
realesrgan-ncnn-vulkan
